h1 {
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#tabla_background {
    background-color: darkolivegreen;
}